<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Room List</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <th>Nome</th>
                <th>Data</th>
                <th>Horário inicial</th>
                <th>Horário final</th>
                <th>Ações</th>
            </thead>
            <tbody>
                <tr *ngFor="let room of rooms | async">
                    <td>{{room.name}}</td>
                    <td>{{room.date}}</td>
                    <td>{{room.startHour}}</td>
                    <td>{{room.endHour}}</td>
                    <td>
                        <button (click)="deleteRoom(room.id)" class="btn btn-danger"> Deletar </button>
                        <button (click)="updateRoom(room.id)" class="btn btn-info" style="margin-left: 10px;"> Atualizar </button>
                        <button (click)="roomDetails(room.id)" class="btn btn-info" style="margin-left: 10px;"> Detalhes </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>